/*Created by: Grace S
*Created on: Apr 2022
*This CSS file defines the style for index.html
*ICS2O-Unit3-02-PHP-VolumeTriangularPyramid
*/

body {
  background-color: rgb(165, 190, 209);
}

h1 {
  background-color: #585b80;
  color: #ffffff;
  padding: 40px;
  text-align: center;
}

h1 {
  font-family:Monospace;
  font-size: 30px;
}

div {
	
  font-weight: bold;
  color: #000000;
  margin: 8px;
}

h2 {
  border-style: solid;
  background-color: #FAFACF;
  color: #000000;
  border-color: #e7ddb2;
  text-align: center;
}